<div class="container">
  <div class="card">
    <div class="card-header">
      <a href="https://bugsplat.com">
        <img class="logo" src="./assets/bugsplat-logo.png" />
      </a>
    </div>
    <div class="card-body">
      <h1>
        <a href="https://github.com/BugSplat-Git/ngx-animated-counter">
          {{ title }}
        </a>
      </h1>
      <div class="row" *ngFor="let params of paramsVariations">
        <ngx-animated-counter [params]="params"></ngx-animated-counter>
      </div>
    </div>
  </div>
</div>
