:host {
  padding: 24px;
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

.col {
  flex: 1;
}

.flex-grid {
  display: flex;
}

.header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

::ng-deep {
  ng-animated-counter {
    font-size: 48px;
  }
}