<div class="header">
  <a href="https://bugsplat.com">
    <img src="./assets/logo-bugsplat-color.png">
  </a>
</div>

<h1>
  <a href="https://github.com/BugSplat-Git/ng-animated-counter">
    {{ title }}
  </a>
</h1>
<div class="flex-grid">
  <div class="col">
    <ng-animated-counter [params]="params0"></ng-animated-counter>
  </div>
  <div class="col">
    <ng-animated-counter [params]="params1"></ng-animated-counter>
  </div>
  <div class="col">
    <ng-animated-counter [params]="params2"></ng-animated-counter>
  </div>
  <div class="col">
    <ng-animated-counter [params]="params3"></ng-animated-counter>
  </div>
</div>
